%h1= t '.title'
%p
  = link_to t('back'), tags_path
  = link_to t('edit'), edit_tag_path(@tag)

%dl
  %dt= Tag.human_attribute_name :approved
  %dd= @tag.approved
  %dt= Tag.human_attribute_name :flagged
  %dd= @tag.flagged
  %dt= Tag.human_attribute_name :title
  %dd= @tag.title
